{% extends 'website/base.html' %}
{% block maincontent %}
	  <section class="main-contents">
      <h2 class="text-center sub-texts">One mission. Help your business reach peak profits.</h2>
      <div class="container">
      <hr>
         <div class="item-section col-md-4 col-sm-4 col-xs-12">
            <ul>
              <li class="inline-text">
                <i class="fa fa-star"></i><p class="icon-text">A visit back to The Vedas</p>
              </li>
              <li class="inline-text">
                <i class="fa fa-star"></i><p class="icon-text">A visit back to The Vedas</p>
              </li>
              <li class="inline-text">
                <i class="fa fa-star"></i><p class="icon-text">A visit back to The Vedas</p>
              </li>

            </ul>
         </div>
         <div class="item-section col-md-4 col-sm-4 col-xs-12">
            <ul>
              <li class="inline-text">
                <i class="fa fa-star"></i><p class="icon-text">A visit back to The Vedas</p>
              </li>
              <li class="inline-text">
                <i class="fa fa-star"></i><p class="icon-text">A visit back to The Vedas</p>
              </li>
              <li class="inline-text">
                <i class="fa fa-star"></i><p class="icon-text">A visit back to The Vedas</p>
              </li>

            </ul>
         </div>
         <div class="item-section col-md-4 col-sm-4 col-xs-12">
            <ul>
              <li class="inline-text">
                <i class="fa fa-star"></i><p class="icon-text">A visit back to The Vedas</p>
              </li>
              <li class="inline-text">
                <i class="fa fa-star"></i><p class="icon-text">A visit back to The Vedas</p>
              </li>
              <li class="inline-text">
                <i class="fa fa-star"></i><p class="icon-text">A visit back to The Vedas</p>
              </li>
            </ul>
         </div>
     </div>
  </section>
{% endblock %}