{% extends 'website/base.html' %}
{% block maincontent %}
	<section class="testimonial">
    <div class="container">
      <div class="start-block">
        <div class="item-section-test wow fadeInLeft pull-left col-md-7 col-sm-12 col-xs-12">
             <img src="static/images/test1.png" align="left" alt="testimonial">
        </div>
        <div class="item-section-test wow fadeInRight  pull-right col-md-7 col-sm-12 col-xs-12">
             <img src="static/images/test2.png" align="right" alt="testimonial">
        </div>
      </div>
      <div class="start-block">
        <div class="item-section-test wow fadeInLeft pull-left col-md-7 col-sm-12 col-xs-12">
             <img src="static/images/test1.png" align="left" alt="testimonial">
        </div>
        <div class="item-section-test wow fadeInRight  pull-right col-md-7 col-sm-12 col-xs-12">
             <img src="static/images/test2.png" align="right" alt="testimonial">
        </div>
      </div>
      <div class="start-block">
        <div class="item-section-test wow fadeInLeft pull-left col-md-7 col-sm-12 col-xs-12">
             <img src="static/images/test1.png" align="left" alt="testimonial">
        </div>
        <div class="item-section-test wow fadeInRight  pull-right col-md-7 col-sm-12 col-xs-12">
             <img src="static/images/test2.png" align="right" alt="testimonial">
        </div>
      </div>
      <div class="start-block">
        <div class="item-section-test wow fadeInLeft pull-left col-md-7 col-sm-12 col-xs-12">
             <img src="static/images/test1.png" align="left" alt="testimonial">
        </div>
        <div class="item-section-test wow fadeInRight  pull-right col-md-7 col-sm-12 col-xs-12">
             <img src="static/images/test2.png" align="right" alt="testimonial">
        </div>
      </div>

    </div>
  </section>
{% endblock %}