<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="free-educational-responsive-web-template-webEdu">
	<meta name="author" content="webThemez.com">
	<title>Agency</title>
	<link rel="favicon" href="{{ url_for('static', filename='images/photo-1.jpg') }}">
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.css') }}" media="screen">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel='stylesheet' id='camera-css' href='{{ url_for('static', filename='css/camera.css') }}' type='text/css'
          media='all'>
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="static/js/html5shiv.js"></script>
	<script src="static/js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<!-- Fixed navbar -->
  <div class="logo">
      <a href="/"><img src="{{ url_for('static', filename='images/Awsome-agency-logo5.png') }}" width="300"
                       align="center"></a>
  </div>
	<div class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>

			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav  mainNav">
					<li class="active"><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/testimonial">Testimonial</a></li>
					<li><a href="/contact">Contact</a></li>

				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
	<!-- /.navbar -->

	<!-- Header -->
	<header id="head">
		<div class="container">
             <div class="heading-text">
							<h1 class="animated flipInY delay1">Falling Behind Google</h1>
              <button class="infos-button">Get Informations</button>
						</div>

			       <div class="fluid_container">
                <div class="camera_wrap camera_emboss pattern_1" id="camera_wrap_4">
                    <div data-thumb="static/images/slides/thumbs/img1.jpg" data-src="static/images/slides/img2.jpg">
                        <h2>We develop.</h2>
                    </div>
                    <div data-thumb="static/images/slides/thumbs/img2.jpg" data-src="static/images/slides/img4.jpg">
                    </div>
                    <div data-thumb="static/images/slides/thumbs/img3.jpg" data-src="static/images/slides/img3.jpg">
                    </div>
                </div><!-- #camera_wrap_3 -->
              </div><!-- .fluid_container -->
      		  </div>
      	 </header>
	<!-- /Header -->
  {% block maincontent %}

  {% endblock %}

  <section class="call-to-action text-center">
    <div class="text-all">
      <h2 class="title">Theme Wagon Advisors</h2>
      <h3 class="subtitle">Make sure your business succeeds in 2015.</h3>
      <button class="infos-button">Get Informations</button>
    </div>
  </section>
  <footer>
    <div class="footer-section ">
      <div class="container">
        <div class="social pull-left">
          <p><i class="fa fa-phone"></i>541-846-8671 <i class="fa fa-envelope-o"></i>Support@MovingMountainsAdvisors.com</p>
        </div>
        <div class="navigation">
          <ul class="pull-right">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/testimonial">Testimonial</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="social pull-left">
          <p>&copy; copyright your website link, 2015. Theme by <a href="https://themewagon.com/">ThemeWagon</a></p>
        </div>
        <div class="navigation">
          <ul class="pull-right">
              <li><a href="#"> <i class="fa fa-2x fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-2x fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-2x fa-pinterest"></i></a></li>
            </ul>
        </div>
      </div>
    </div>
  </footer>

	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='static/js/modernizr-latest.js') }}"></script>
    <script type='text/javascript' src='static/js/jquery.min.js'></script>
    <script type='text/javascript' src='static/js/jquery.mobile.customized.min.js'></script>
    <script type='text/javascript' src='static/js/jquery.easing.1.3.js'></script>
    <script type='text/javascript' src='static/js/camera.min.js'></script>
    <script src="static/js/bootstrap.min.js"></script>

    <script>
		jQuery(function(){

			jQuery('#camera_wrap_4').camera({
                transPeriod: 500,
                time: 3000,
				height: '600',
				loader: 'false',
				pagination: true,
				thumbnails: false,
				hover: false,
                playPause: false,
                navigation: false,
				opacityOnGrid: false,
				imagePath: 'static/images/'
			});

		});

	</script>

</body>
</html>
