{% extends 'base.html' %}
{% block maincontent %}
    <section class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2825.211958629328!2d91.83379900000003!3d24.909438007883935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x37505558dd0be6a1%3A0x65c7e47c94b6dc45!2sTechnext!5e1!3m2!1sen!2s!4v1425297675833"
                width="100%" height="450" frameborder="0" style="border:0">
        </iframe>
    </section>
    <section class="contacts container">
        <div class="contact-form-full col-md-offset-1 col-md-5 col-sm-6 col-xs-12">

            <div class="inner contact">
                <!-- Form Area -->
                <div class="contact-form">
                    <!-- Form -->
                    <form id="contact-us" method="post" action="/contact">
                        {{ contact_form.csrf_token }}
                        <!-- Left Inputs -->
                        <div class="col-xs-12 wow animated slideInLeft" data-wow-delay=".5s">

                            {{ contact_form.name(class="form", placeholder="name") }}
                            {% if contact_form.errors.get('name') %}
                                <ul class="errors">
                                    {% for error in contact_form.errors.get('name') %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            {{ contact_form.email(class="form", placeholder="Email") }}
                            {% if contact_form.name.errors %}
                                <ul class="errors">
                                    {% for error in contact_form.email.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            {#                            <input type="text" name="name" id="name" required="required" class="form" placeholder="Name" />#}
                            <!-- Email -->
                            {#                            <input type="email" name="mail" id="mail" required="required" class="form" placeholder="Email" />#}

                        </div><!-- End Left Inputs -->
                        <!-- Right Inputs -->
                        <div class="col-xs-12 wow animated slideInRight" data-wow-delay=".5s">
                            <!-- Message -->
                            {{ contact_form.message(class="form textarea", placeholder="Message") }}
                            {% if contact_form.errors.get('message') %}
                                <ul class="invalid-feedback">
                                    {% for error in contact_form.errors.get('message') %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}

                            {#                            <textarea name="message" id="message" class="form textarea"  placeholder="Message"></textarea>#}
                        </div><!-- End Right Inputs -->
                        <!-- Bottom Submit -->
                        <div class="relative fullwidth col-xs-12">
                            <!-- Send Button -->
                            <button type="submit" id="submit" name="submit" class="form-btn semibold">Send Message
                            </button>
                        </div><!-- End Bottom Submit -->
                        <!-- Clear -->
                        <div class="clear"></div>
                    </form>

                    <!-- Your Mail Message -->
                    <div class="mail-message-area">
                        <!-- Message -->

                    </div>

                </div><!-- End Contact Form Area -->
            </div><!-- End Inner -->
        </div>
        <div class="contact-form-text col-md-6 col-sm-6 col-xs-12">
            <p class="contact-form-texts">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </section>

{% endblock %}